<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/register.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
    <div class="main">
        <p class="sign" align="center">Register</p>
        <form id="register-form" class="form1">
            <input class="un" type="text" id="username" placeholder="Username" required>
            <input class="un" type="email" id="email" placeholder="Email" required>
            <input class="pass" type="password" id="password" placeholder="Password" required>
            <input class="pass" type="password" id="confirm-password" placeholder="Confirm Password" required>
            <button type="submit" class="submit" align="center">Register</button>
        </form>
        <p class="register" align="center">Already have an account? <a href="/login">Login here</a></p>
    </div>

    <script>
        document.getElementById("register-form").addEventListener("submit", async function(event) {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirm-password").value;

            if (password !== confirmPassword) {
                alert("Passwörter sind nicht gleich.");
                return;
            }

            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username, email, password }),
                });

                if (response.ok) {
                    const data = await response.json();
                    alert("Registration successful: " + data.message);
                    window.location.href = '/login';
                } else {
                    const errorData = await response.json();
                    alert("Registration failed: " + (errorData.message || "Unknown error"));
                }
            } catch (error) {
                console.error('Error:', error);
                alert("Während des Registrierungsprozesses ist ein Fehler aufgetreten.");
            }
        });
    </script>
</body>
</html>